<mat-card>
  <canvas #drawingCanvas width="800px" height="700px" style="display: block; margin: 0 auto; max-width: 100%"></canvas>
</mat-card>
<br>
<mat-card>
  <mat-card-title>Main axis: {{mainAxisDegree}}°</mat-card-title><mat-card-subtitle>{{lagetyp}}</mat-card-subtitle>
  <mat-slider [displayWith]="formatLabelDegree" thumbLabel min="0" max="360" [(value)]="mainAxisDegree" style="width: 100%"></mat-slider>
</mat-card>
<br>
<mat-card>
  <mat-card-title>Einthoven</mat-card-title>

  <div style="display: inline">
    <label>I</label>
    <mat-slider disabled [(value)]="lengthI" min="-100" max="100" vertical></mat-slider>
  </div>

  <div style="display: inline">
    <label>II</label>
    <mat-slider disabled [(value)]="lengthII" min="-100" max="100" vertical></mat-slider>
  </div>

  <div style="display: inline">
    <label>III</label>
    <mat-slider disabled [(value)]="lengthIII" min="-100" max="100" vertical></mat-slider>
  </div>

  <p style="display: block" *ngIf="allThreePositive">
    <em>All three leads positive!</em><br> I>III = Indifferenztyp, III>I = Steiltyp
  </p>

  <mat-divider [inset]="true"></mat-divider>
  <h2>Offset third electrode</h2>
  <mat-slider min="0" max="200" [(value)]="offsetFoot" style="width: 100%"></mat-slider>

  <mat-divider [inset]="true"></mat-divider>
  <p style="color: rgb(92, 92, 92); text-align: right; line-height: 2em"><mat-icon>favorite</mat-icon> made by <a style="color: inherit" href="https://chrisk91.me">ChrisK91</a></p>
</mat-card>