<mat-card>
  <canvas #drawingCanvas width="800px" height="700px" style="margin: 0 auto;"></canvas>
</mat-card>

<mat-card>
  <h2>Main axis: {{mainAxisDegree}}° - {{lagetyp}}</h2>
  <mat-slider [displayWith]="formatLabelDegree" thumbLabel min="0" max="360" [(value)]="mainAxisDegree" style="width: 100%"></mat-slider>

  <mat-divider [inset]="true"></mat-divider>
  <h2>Einthoven</h2>

  <div style="display: inline">
    <label>I</label>
    <mat-slider disabled [(value)]="lengthI" min="-100" max="100" vertical></mat-slider>
  </div>

  <div style="display: inline">
    <label>II</label>
    <mat-slider disabled [(value)]="lengthII" min="-100" max="100" vertical></mat-slider>
  </div>

  <div style="display: inline">
    <label>III</label>
    <mat-slider disabled [(value)]="lengthIII" min="-100" max="100" vertical></mat-slider>
  </div>

  <p style="display: inline" *ngIf="allThreePositive">
    <em>All three leads positive!</em> I>III = Indifferenztyp, III>I = Steiltyp
  </p>

  <mat-divider [inset]="true"></mat-divider>
  <h2>Offset third electrode</h2>
  <mat-slider min="0" max="200" [(value)]="offsetFoot" style="width: 100%"></mat-slider>
</mat-card>